<aside class="sidenav" [class.sidenav--collapsed]="isCollapsed()" [class.sidenav--mobile-open]="isMobileOpen()">
  <nav class="sidenav__nav">
    <ul class="sidenav__list">
      <li *ngFor="let item of navItems()" class="sidenav__item">
        <a
          href="#"
          (click)="onNavClick(item, $event)"
          class="sidenav__link"
          [class.sidenav__link--active]="isActive(item)"
          [title]="isCollapsed() ? item.label : ''"
        >
          <i *ngIf="item.icon" [class]="'bi ' + item.icon + ' sidenav__icon'"></i>
          <span class="sidenav__label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Collapse Toggle Button at Bottom -->
  <button class="sidenav__toggle" (click)="onToggleCollapse()" [attr.aria-label]="isCollapsed() ? 'Expand sidebar' : 'Collapse sidebar'">
    <i [class]="isCollapsed() ? 'bi bi-chevron-right' : 'bi bi-chevron-left'"></i>
  </button>
</aside>
